include  ../../../views/formComponents

mixin activityform(activity)
  form(id='activityform', action='/activities/submit', method='post')
    +hidden('id', activity.id())
    +hidden('previousUrl', activity.url())
    fieldset
      .row
        .col-md-12
          h3 Edit
          .row
            +text('title', 'Title', activity.title())
            .row
              +date('startDate', 'Start', activity.startMoment().format('L'))
              +time('startTime', activity.startMoment().format('LT'))
            +textarea('description', 'Description', activity.description())
            .form-group
              +controlLabel('url', 'URL suffix')
              input.form-control#url(type='text', name='url', value=activity.url())
            +text('location', 'Location', activity.location())
        #resources
          h4 Resources
          each name in activity.resourceNames()
            - var resource = activity.resourceNamed(name)
            +resourceRow(name, resource.limit())
            +hidden('resources[previousNames]', name)
      hr
      +submitButtons('Save')

mixin resourceRow(name, limit)
  .row
    +controlLabel('bezeichnung', 'Label')
    input(name='resources[names]', value=name, type='text', placeholder=('Meeting'))
    | &nbsp;
    +controlLabel('anzahl', 'Limit')
    input(name='resources[limits]', value=limit, type='text', placeholder=('unlimited'))
    p
