extends ../../../views/layout

block title
  | #{t('general.welcome')}
block content
  .row
    .col-md-12
      h1 Demopage of
        br 
        small Softwerkskammer based Node Testing Techniques
